body * {
    /* background-color: #fff; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 10px;
}

hr {
    margin-bottom: 30px;
}
.top-text {
    font-size: 1.8em;
    margin-bottom: 10px;
    padding: 20px;
}

.center {
    width: 90%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    margin-bottom: 60px;
}
.intro {
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
}

table {
    font-size: 1.2em;
}

td {
    /* outline: 1px solid rgba(128, 128, 128, 0.301); */
}


.table-container {
    /* background-color: red; */
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 17px;
    box-shadow: 3px 3px 30px grey;
}

table  {
    text-align: center;
}

.red {
    background-color: rgba(255, 0, 0, 0.144);
}
.yellow {
    background-color: rgba(255, 136, 0, 0.164);
}
.blue {
    background-color: rgba(0, 9, 128, 0.089);
}

.next-to-each-other{
    /* background-color: red; */
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.next-to-each-other img {
    width: 49%;
}